package ${package.Mapper};

import com.alx.weixin.common.base.BaseDao;
import ${package.Entity}.${entity};
import org.springframework.stereotype.Repository;

/**
 * <p>
 * Mapper接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Repository
public interface ${table.mapperName} extends BaseDao<${entity}> {

}